.kits-container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kit-card {
  border: 1px solid rgb(182, 182, 182);
  /* box-shadow: 6px 8px #000; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px 0px 10px 0px;
  padding: 20px 25px;
  width: 95%;
  max-width: 500px;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

.kit-card-wide {
  border: 1px solid rgb(182, 182, 182);
  /* box-shadow: 6px 8px #000; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px 0px 10px 0px;
  padding: 20px 25px;
  width: 95%;
  /* max-width: 500px; */
  height: 100%;
  background-color: rgb(255, 255, 255);
}

.kit-details-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.kit-details-left {
  width: 50%;
}
.kit-details-right {
  width: auto;
}
.kit-details-article {
  margin: 35px 0px 0px 0px;
}







/* typography
=================== */
.kit-name {
  font-family: 'Cabin Sketch', sans-serif;
  font-size: 26px;
  font-weight: 700;
  margin: 0px 0px 5px 0px;
}
.kit-description {
  font-size: 20px;
  margin: 10px 0px 5px 0px;
}
.kit-description-details {
  font-size: 16px;
  margin: 10px 0px 5px 0px;
}

.kit-details {
  font-size: 16px;
  margin: 0px 0px 2px 0px;
}

.kit-details-notes {
  font-size: 14px;
  color: #778f7b89;
  margin: 0px 0px 0px 0px;
}

.kit-link {
  margin: 0px;
}

a.kit-link {
  border-bottom: none;
}


button {
  padding: 5px;
  margin: 10px 0px 5px 0px;
}

.news-link {
  color: black;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  border-bottom: none;
}

.smhi-message-text {
  font-size: 16px;
  line-height: 1.5em;
  margin: 0px 0px 2px 0px;
}





/* kit-card effect drop shadow
=================== */
 .effect2
 {
   position: relative;
 }
 .effect2:before, .effect2:after
 {
   z-index: -1;
   position: absolute;
   content: "";
   bottom: 15px;
   left: 10px;
   width: 50%;
   top: 80%;
   max-width:300px;
   background: #777;
   -webkit-box-shadow: 0 15px 10px #777;
   -moz-box-shadow: 0 15px 10px #777;
   box-shadow: 0 15px 10px #777;
   -webkit-transform: rotate(-3deg);
   -moz-transform: rotate(-3deg);
   -o-transform: rotate(-3deg);
   -ms-transform: rotate(-3deg);
   transform: rotate(-3deg);
 }
 .effect2:after
 {
   -webkit-transform: rotate(3deg);
   -moz-transform: rotate(3deg);
   -o-transform: rotate(3deg);
   -ms-transform: rotate(3deg);
   transform: rotate(3deg);
   right: 10px;
   left: auto;
 }
 
/* button style
=================== */
.btn {
  background: #afb8aa;
  background-image: -webkit-linear-gradient(top, #afb8aa, #415e47);
  background-image: -moz-linear-gradient(top, #afb8aa, #415e47);
  background-image: -ms-linear-gradient(top, #afb8aa, #415e47);
  background-image: -o-linear-gradient(top, #afb8aa, #415e47);
  background-image: linear-gradient(to bottom, #afb8aa, #415e47);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 9px 20px 10px 20px;
  text-decoration: none;
  width: 150px;
  height: 12px;
  font-size: 14px;
  font-weight: 700;
  /* padding: 5px 0px 10px 15px; */
  margin-top: 10px;
  margin-bottom: 8px;
  
}

.btn:hover {
  background: #afb8aa;
  background-image: -webkit-linear-gradient(top, #afb8aa, #89968c);
  background-image: -moz-linear-gradient(top, #afb8aa, #89968c);
  background-image: -ms-linear-gradient(top, #afb8aa, #89968c);
  background-image: -o-linear-gradient(top, #afb8aa, #89968c);
  background-image: linear-gradient(to bottom, #afb8aa, #89968c);
  text-decoration: none;
}
